@namespace TunNetCom.ErrorsModal
@using Microsoft.Extensions.Localization
@using TunNetCom.SilkRoadErp.Sales.WebApp.Locales
@inject IStringLocalizer<SharedResource> Localizer

<div class="row">
    <div class="col-5 col-md-3 text-end">@Localizer["error_modal_title"]</div>
    <table border="1">

        @foreach (var errorMessage in _errorsList)
        {
            <tr>
                <td>
                    @errorMessage
                </td>
            </tr>
        }

    </table>
</div>

@code {

    [Parameter] public List<string> ValidationErrors { get; set; } = new List<string>();

    private List<string> _errorsList = new List<string>();

    protected override void OnInitialized()
    {
        _errorsList = ValidationErrors;

        base.OnInitialized();
    }
}
