@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.Extensions.Localization
@using TunNetCom.SilkRoadErp.Sales.BlazorApp.Composants
@using TunNetCom.SilkRoadErp.Sales.BlazorApp.Locales

@inject NavigationManager Navigation
@inject IStringLocalizer<SharedResource> Localizer

<PageTitle>Silk Road Erp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LanguageSelector />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
