trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  dockerRepository: 'tunnetcom/silkroad'      
  apiTag: 'api-$(Build.BuildId)'
  webappTag: 'webapp-$(Build.BuildId)'

steps:
# .NET
- task: UseDotNet@2
  displayName: 'Use .NET 10 SDK'
  inputs:
    packageType: 'sdk'
    version: '10.x'

- task: DotNetCoreCLI@2
  displayName: 'Restore'
  inputs:
    command: 'restore'
    projects: '$(solution)'
    feedsToUse: 'select'

- task: DotNetCoreCLI@2
  displayName: 'Build'
  inputs:
    command: 'build'
    projects: '$(solution)'
    arguments: '--configuration $(buildConfiguration) --no-restore'

# -----------------------------
# Build API Docker Image (Separate build and push)
# -----------------------------
- task: Docker@2
  displayName: 'Build API Image'
  inputs:
    containerRegistry: 'TunNetCom_Dockerhub_Connection'   
    command: build
    Dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
    buildContext: '$(Build.SourcesDirectory)'
    arguments: '--target api'
    tags: |
      $(dockerRepository):$(apiTag)
      $(dockerRepository):latest-api

- task: Docker@2
  displayName: 'Push API Image'
  inputs:
    containerRegistry: 'TunNetCom_Dockerhub_Connection'
    command: push
    repository: '$(dockerRepository)'
    tags: |
      $(apiTag)
      latest-api

# -----------------------------
# Build WebApp Docker Image (Separate build and push)
# -----------------------------
- task: Docker@2
  displayName: 'Build WebApp Image'
  inputs:
    containerRegistry: 'TunNetCom_Dockerhub_Connection'   
    command: build
    Dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
    buildContext: '$(Build.SourcesDirectory)'
    arguments: '--target webapp'
    tags: |
      $(dockerRepository):$(webappTag)
      $(dockerRepository):latest-webapp

- task: Docker@2
  displayName: 'Push WebApp Image'
  inputs:
    containerRegistry: 'TunNetCom_Dockerhub_Connection'
    command: push
    repository: '$(dockerRepository)'
    tags: |
      $(webappTag)
      latest-webapp