trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  dockerRepository: 'tunnetcom/silkroad'      
  tag: '$(Build.BuildId)'

steps:
- task: UseDotNet@2
  displayName: 'Use .NET 10 SDK'
  inputs:
    packageType: 'sdk'
    version: '10.x'
    includePreviewVersions: false

# -----------------------------
# Build and Push API Image
# -----------------------------
- task: Docker@2
  displayName: 'Build and Push API Docker Image'
  inputs:
    containerRegistry: 'TunNetCom_Dockerhub_Connection'   
    command: buildAndPush
    Dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
    repository: '$(dockerRepository)'
    tags: |
      $(tag)-api
      latest-api
    arguments: '--target api'

# -----------------------------
# Build and Push WebApp Image
# -----------------------------
- task: Docker@2
  displayName: 'Build and Push WebApp Docker Image'
  inputs:
    containerRegistry: 'TunNetCom_Dockerhub_Connection'   
    command: buildAndPush
    Dockerfile: '$(Build.SourcesDirectory)/Dockerfile'
    repository: '$(dockerRepository)'
    tags: |
      $(tag)-webapp
      latest-webapp
    arguments: '--target webapp'