trigger:
- master

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  dockerRepository: 'tunnetcom/silkroad'      
  apiTag: 'api-$(Build.BuildId)'
  webappTag: 'webapp-$(Build.BuildId)'

steps:
# .NET
- task: UseDotNet@2
  displayName: 'Use .NET 10 SDK'
  inputs:
    packageType: 'sdk'
    version: '10.x'
    includePreviewVersions: false

- task: NuGetToolInstaller@1

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true /p:PackageLocation="$(build.artifactStagingDirectory)"'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

# -----------------------------
# Build API Docker Image
# -----------------------------
- task: Docker@2
  displayName: 'Build and Push API Docker Image'
  inputs:
    containerRegistry: 'TunNetCom_Dockerhub_Connection'   
    command: buildAndPush
    Dockerfile: '$(Build.SourcesDirectory)/Dockerfile.api'  # <-- API Dockerfile
    repository: '$(dockerRepository)'
    tags: |
      $(apiTag)
      latest-api

# -----------------------------
# Build WebApp Docker Image
# -----------------------------
- task: Docker@2
  displayName: 'Build and Push WebApp Docker Image'
  inputs:
    containerRegistry: 'TunNetCom_Dockerhub_Connection'   
    command: buildAndPush
    Dockerfile: '$(Build.SourcesDirectory)/Dockerfile.webapp'  # <-- WebApp Dockerfile
    repository: '$(dockerRepository)'
    tags: |
      $(webappTag)
      latest-webapp