<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <Exclude>
            <Module>Moq.dll</Module>
            <Module>*.Test.dll</Module> <!-- Exclude test projects if needed -->
            <Module>*.Tests.dll</Module> <!-- Exclude test projects if named like this -->
            <Module>.*fluentvalidation.*</Module>
            <Module>FluentValidation.dll</Module>
            <Module>bin\**\FluentValidation.dll</Module>
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
