<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <CodeCoverage>
            <Exclude>
              <Module>FluentValidation.dll</Module>
              <Module>Moq.dll</Module>
              <Module>*.Test.dll</Module> <!-- Exclure les DLLs de test -->
              <Module>*.Tests.dll</Module>
            </Exclude>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
