/* Swagger UI Dark Theme */
html {
    background-color: #1e1e1e !important;
}

body {
    background-color: #1e1e1e !important;
    color: #e0e0e0 !important;
}

.swagger-ui .scheme-container {
    background: #1e1e1e;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
}

.swagger-ui .topbar {
    background-color: #1e1e1e;
    border-bottom: 1px solid #3b3b3b;
}

.swagger-ui .topbar .download-url-wrapper {
    background-color: #1e1e1e;
}

.swagger-ui .topbar .download-url-wrapper input {
    background-color: #2d2d2d;
    color: #fff;
    border: 1px solid #3b3b3b;
}

.swagger-ui .info {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.swagger-ui .info .title {
    color: #fff;
}

.swagger-ui .info .description {
    color: #b0b0b0;
}

.swagger-ui .opblock.opblock-get {
    background: #1e1e1e;
    border-color: #3b3b3b;
}

.swagger-ui .opblock.opblock-post {
    background: #1e1e1e;
    border-color: #3b3b3b;
}

.swagger-ui .opblock.opblock-put {
    background: #1e1e1e;
    border-color: #3b3b3b;
}

.swagger-ui .opblock.opblock-delete {
    background: #1e1e1e;
    border-color: #3b3b3b;
}

.swagger-ui .opblock.opblock-patch {
    background: #1e1e1e;
    border-color: #3b3b3b;
}

.swagger-ui .opblock-tag {
    color: #fff;
    border-color: #3b3b3b;
}

.swagger-ui .opblock-tag-section {
    background-color: #1e1e1e;
}

.swagger-ui .opblock-summary {
    color: #fff;
}

.swagger-ui .opblock-description-wrapper {
    background-color: #2d2d2d;
    color: #e0e0e0;
}

.swagger-ui .opblock-body {
    background-color: #2d2d2d;
}

.swagger-ui .opblock-body pre {
    background-color: #1e1e1e;
    color: #e0e0e0;
}

.swagger-ui .parameter__name {
    color: #fff;
}

.swagger-ui .parameter__type {
    color: #b0b0b0;
}

.swagger-ui .parameter__in {
    color: #b0b0b0;
}

.swagger-ui .response-col_status {
    color: #fff;
}

.swagger-ui .response-col_links {
    color: #fff;
}

.swagger-ui .response-col_description {
    color: #e0e0e0;
}

.swagger-ui .model-box {
    background-color: #2d2d2d;
    color: #e0e0e0;
}

.swagger-ui .model-title {
    color: #fff;
}

.swagger-ui .prop-name {
    color: #fff;
}

.swagger-ui .prop-type {
    color: #b0b0b0;
}

.swagger-ui .btn {
    background-color: #3b3b3b;
    color: #fff;
    border-color: #4b4b4b;
}

.swagger-ui .btn:hover {
    background-color: #4b4b4b;
}

.swagger-ui .btn.execute {
    background-color: #49cc90;
    color: #fff;
}

.swagger-ui .btn.execute:hover {
    background-color: #5dd4a0;
}

.swagger-ui .btn.cancel {
    background-color: #ff6b6b;
    color: #fff;
}

.swagger-ui .btn.cancel:hover {
    background-color: #ff8080;
}

.swagger-ui input[type=text],
.swagger-ui input[type=password],
.swagger-ui input[type=search],
.swagger-ui input[type=email],
.swagger-ui textarea,
.swagger-ui select {
    background-color: #2d2d2d;
    color: #fff;
    border: 1px solid #3b3b3b;
}

.swagger-ui input[type=text]:focus,
.swagger-ui input[type=password]:focus,
.swagger-ui input[type=search]:focus,
.swagger-ui input[type=email]:focus,
.swagger-ui textarea:focus,
.swagger-ui select:focus {
    border-color: #49cc90;
    outline: none;
}

.swagger-ui .response-content-type {
    background-color: #2d2d2d;
    color: #fff;
}

.swagger-ui .tab li {
    background-color: #2d2d2d;
    color: #fff;
}

.swagger-ui .tab li.active {
    background-color: #1e1e1e;
    border-bottom-color: #49cc90;
}

.swagger-ui .tab li button {
    color: #fff;
}

.swagger-ui .tab li.active button {
    color: #49cc90;
}

.swagger-ui .scheme-container {
    background-color: #1e1e1e;
}

.swagger-ui .scheme-container label {
    color: #fff;
}

.swagger-ui .auth-container {
    background-color: #1e1e1e;
}

.swagger-ui .auth-btn-wrapper {
    background-color: #1e1e1e;
}

.swagger-ui .auth-wrapper {
    background-color: #1e1e1e;
}

.swagger-ui .authorize {
    background-color: #1e1e1e;
    color: #fff;
}

.swagger-ui .authorize .btn {
    background-color: #49cc90;
    color: #fff;
}

.swagger-ui .authorize .btn:hover {
    background-color: #5dd4a0;
}

