@using Microsoft.Extensions.Localization
@using System.Globalization
@using TunNetCom.SilkRoadErp.Sales.WebApp.Locales
@inject NavigationManager Navigation
@inject IStringLocalizer<SharedResource> Localizer
@inject IJSRuntime JSRuntime

<div class="d-flex justify-content-end">
    <div class="form-group">
        <select @bind="Culture" class="form-control">
            <option value="en">English</option>
            <option value="fr">Français</option>
        </select>
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        Culture = CultureInfo.CurrentCulture;
    }

    private CultureInfo Culture
    {
        get
        {
            return CultureInfo.CurrentCulture;
        }
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var uri = new Uri(Navigation.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
                var cultureEscaped = Uri.EscapeDataString(value.Name);
                var uriEscaped = Uri.EscapeDataString(uri);

                Navigation.NavigateTo($"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}", forceLoad: true);
            }
        }
    }
}
